# Python / Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.sqlite3
staticfiles/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/GeneratedPluginRegistrant.java

# IDE & OS
.idea/
.vscode/
*.apk

# Environment & Secrets
.env
.env.local

# Node / Frontend
node_modules/
dist/
.vite/
scratch/
